body {
  background-color: white;
  color: #black;
}
#circle {
  margin: 20px;
  fill: #333;
}

#compass-line {
  stroke: white;
  stroke-width: 0.01;
  fill: none;
}

label {
  font-size: 16px;
  line-height: 24px;
}

.panning-model-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// #compass-box {
//   width: 200px;
//   height: 200px;
//   background-color: red;
// }
